{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <h1>Doação de itens tecnológicos:</h1>
    <p>{{sucesso}}</p>
    <div class="formulario">
        <form action="/" method="post">
            <p><a class ='cadastro' href="/cadastro/listar">Clique aqui para ver quem se cadastrou!</a></p>
            {% csrf_token %}
            <label for="nome">Nome: </label>
            <input required type="text" name="nome">
        
            <label for="">Sobrenome: </label>
            <input required type="text" name="sobrenome">
        
            <label for="">Data de nascimento: </label>
            <input required type="date" name="data_de_nascimento">
        
            <label for="">CPF: </label>
            <input required type="number" name="cpf">
        
            <label for="">CEP: </label>
            <input required type="number" name="cep">
        
            <label for="">Item de doação: </label>
            <input required type="text" name="item_de_doacao">

        <input class='botao' type="submit" value="Enviar">
    </form>
</div>

{% endblock %}
