<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>ONG Doação</title>
</head>
<body>
    <h1>Doação de itens tecnológicos:</h1>
    <p>{{sucesso}}</p>
    <div class="formulario">
        <form action="/" method="post">
            {% csrf_token %}
            <label for="nome">Nome: </label>
            <input required type="text" name="nome">
        
            <label for="">Sobrenome: </label>
            <input required type="text" name="sobrenome">
        
            <label for="">Data de nascimento: </label>
            <input required type="date" name="data_de_nascimento">
        
            <label for="">CPF: </label>
            <input required type="number" name="cpf">
        
            <label for="">CEP: </label>
            <input required type="number" name="cep">
        
            <label for="">Item de doação: </label>
            <input required type="text" name="item_de_doacao">

        <input type="submit" value="Enviar">
    </form>
</div>
</body>
</html>