<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Document</title>
</head>
<body>
    <h1>Doação de itens tecnológicos:</h1>
    <div class="formulario">
    <div id='nome'>
        <label for="your_name">Nome: </label>
        <input type="text" name="your_name" value="{{ current_name }}">
        <input type="submit" value="OK">
    </div>

    <div id='sobrenome'>
        <label for="your_surname">Sobrenome: </label>
        <input type="text" name="your_surname" value="{{ current_name }}">
        <input type="submit" value="OK">
    </div>

    <div id='cpf'>
        <label for="your_date">Data de Nascimento: </label>
        <input type="date" name="your_date" value="{{ current_name }}">
        <input type="submit" value="OK">
    </div>

    <div id='cep'>
        <label for="your_cep">Cep: </label>
        <input type="text" name="your_cep" value="{{ current_name }}">
        <input type="submit" value="OK">
    </div>

    <div id='doacao'>
        <label for="your_donation">Item para doar: </label>
        <input type="text" name="your_donation" value="{{ current_name }}">
        <input type="submit" value="OK">
    </div>
</div>
</body>
</html>