<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <marquee><h1>Lista de cadastrados: </h1></marquee>
    {% for item in listar_cadastrados %}
        <p><strong>Nome:</strong>{{item.nome}}</p>
        <p><strong>Sobrenome:</strong>{{item.sobrenome}}</p>
        <p><strong>Data de Nascimento:</strong>{{item.data_de_nascimento}}</p>
        <p><strong>CPF:</strong>{{item.cpf}}</p>
        <p><strong>CEP:</strong>{{item.cep}}</p>
        <p><strong>Item de doação:</strong>{{item.item_de_doacao}}</p>
        <hr>
    {% endfor %}
</body>
</html>